@{
    ViewBag.Title = "System";
}

    <div class="jumbotron">
        <h1>Main Dashboard</h1>        
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-15">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span>Menu
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10 col-md-10">
                            <a href="Links" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-link"></span> <br />Links</a>
                            <a href="Payments" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-euro"></span> <br />Pagos</a>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>