@{
    ViewBag.Title = "System";
}

<div class="jumbotron">
    <h1>My Personal Links</h1>    
    <p>
        @if (User.IsInRole("Admin"))
    {
            @Html.ActionLink("Links", "Index", "Links", null, new {@class = "btn btn-primary btn-lg"})
    }
    </p>
</div>